<h1>@ViewBag.mensaje</h1>

<div>
    <h2>Presione <a href='@Url.Action("verDatosInteres", "Home")'>aqui</a> para ver los datos interes de @ViewBag.usuario.nombre</h2>
    <h2>Presione <a href='@Url.Action("verDatosFamiliar", "Home")'>aqui</a> para ver los datos familiar de @ViewBag.usuario.nombre</h2>
</div>