<h1>DATOS INTERES DE @ViewBag.usuario.Nombre</h1>

@if (ViewBag.datosInteres != null && ViewBag.datosInteres.Count > 0)
{
    @foreach (var interes in ViewBag.datosInteres)
    {
        <p>
            Tipo de Interés: @interes.TipoInteres <br />
            Interés: @interes.Interes
        </p>
    }
}
else
{
    <p>No hay datos de interés para mostrar.</p>
}
<p><a href="@Url.Action("volverABienvenida", "Home")">Volver a pagina de Bienvenida</a></p>
<p><a href="@Url.Action("Index", "Home")">Volver a pagina de inicio</a></p>